# Домены
YOUR_ROOT_DOMAIN=example.org
MATRIX_SERVER_NAME=example.org# Это имя сервера (часть ID пользователя: @user:example.org)
MATRIX_DOMAIN=matrix.example.org# Домен, где будет доступен сервер Synapse


# Почта для админа (используется для первого пользователя и SSL уведомлений)
ADMIN_EMAIL=admin@example.org

# База данных PostgreSQL
POSTGRES_PASSWORD=YourStrongPasswordHere!ChangeMe
POSTGRES_USER=synapse
POSTGRES_DB=synapse

# Synapse Secret (сгенерируйте случайную строку: openssl rand -hex 32)
SYNAPSE_REGISTRATION_SHARED_SECRET=your_generated_hex_secret_here_change_me

# Coturn (TURN сервер для звонков)
TURN_STATIC_AUTH_SECRET=YourVeryLongAndSecureTurnSecretChangeMe
TURN_REALM=your_public_ip_or_domain# Можно указать IP или домен turn.example.org
TURN_EXTERNAL_IP=ваш_публичный_айпи# Ваш внешний статический IP
TURN_INTERNAL_IP=внутренний_айпи_сервера# IP сервера в локальной сети (например, 192.168.1.100)