{
    "default_server_config": {
        "m.homeserver": {
            "base_url": "https://__MATRIX_SERVER_NAME__",
            "server_name": "__SERVER_NAME__"
        }
    },
    "disable_custom_urls": true
}